
{% extends 'layout.html' %}

{% block body %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/fresh-img.png') }}" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Disease
              </h2>
            </div>
            <p>
              We can tell you which disease cought by your plant, cause of disease and how to prevent/cure the disease based
              on our AI model.<br>
            </p>
            <p>
              Please upload an image of leave that you confusing.. 
            </p>
              <form method="post" enctype=multipart/form-data>
                <input type="file" name="file" id="file" onchange="preview_image(event)">
                  <img width= 200; id="output-image" class="rounded mx-auto d-block" />
                  <div class="btn-box">
                    <button type="submit" class="btn-1">
                      Predict now
                    </button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    function preview_image(event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById('output-image')
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
  <!-- end about section -->

  {% endblock %}
