
{% extends 'layout.html' %}

{% block body %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="img-box">
            <img src="images/fresh-img.png" alt="" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Disease
              </h2>
            </div>
            <p>
              We can tell you which disease cought by your plant, cause of disease and how to prevent/cure the disease based
              on our AI model.<br>
            </p>
            <p>
              Please upload an image of leave that you confusing.. 
            </p>
            <input type="file">
            <div class="btn-box">
              <button href="" class="btn-1">
                Predict now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  {% endblock %}
